<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="pl" >
<html xmlns:th="http://www.thymeleaf.org" lang="pl" >
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nowe urządzanie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script type="text/javascript" th:src = "@{/scripts/includeHtml.js}"></script>
</head>
<body style="background-color: rgba(0,0,255,0.1);">

<div class="mh-100" >
    <div th:replace="menu :: navbar" ></div>


    <div class="container-xl py-5">
        <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-3">
                <h5 class="text-muted mb-0">Edycja zlecenia</h5>
            </div>
            <div class="row">
                <div class="card-body col-6">
                    <span class="badge text-bg-primary">Dane urządzenia</span>
                    <div class = "row">
                        <div class="col-4 px-5 py-3">
                            <p>Producent:</p>
                            <p class="fw-bolder"><span th:text = "${device.producer}"></span></p>

                            <p>Model:</p>
                            <p class="fw-bolder"><span th:text = "${device.model}"></span></p>
                        </div>

                        <div class="col-4 px-5 py-3">
                            <p>Numer seryjny:</p>
                            <p class="fw-bolder"><span th:text = "${device.serialNumber}"></span></p>

                            <p>Kategoria: </p>
                            <p class="fw-bolder"><span th:text = "${device.category.categoryName}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body col-6">
                    <span class="badge text-bg-primary">Dane klienta</span>
                    <div class = "row">
                        <div class="col-4 px-5 py-3">
                            <p>Imie i nazwisko</p>
                            <p class="fw-bolder"><span th:text = "${client.firstName} + ' ' + ${client.lastName}"></span></p>

                            <p>Telefon</p>
                            <p class="fw-bolder"><span th:text = "${client.phone}"></span></p>
                        </div>

                        <div class="col-4 px-5 py-3">
                            <p>Adres</p>
                            <p class="fw-bolder"><span th:utext = "${client.Street}+' '+ ${client.StreetNumber}+'/'+${client.FlatNumber}"></span></p>

                            <p>Kod poczt.</p>
                            <p class="fw-bolder"><span th:text = "${client.postalCode}"></span></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body p-4">
                <span class="badge text-bg-primary">Opis zlecenia</span>
                <form class="row" action="#" th:action="@{/orders/edit(clientId=${client.clientId}, deviceId=${device.deviceId},orderId=${orderId})}" method="post" th:object="${orderDTO}">
                    <div class="row g-3">
                        <div class="col-2">
                            <p>Rodzaj zlecenia:</p>
                            <p class="fw-bolder"><span th:text = "${orderTypeName}"></span></p>
                        </div>
                        <div class="col-2">
                            <label class="form-label">Ładowarka:</label>
                            <div  th:if="${orderDTO.charger}" th:text="'Tak'">Tak</div>
                            <div  th:unless="${orderDTO.charger}" th:text="'Nie'">Nie</div>
                        </div>
                        <div class="col-2">
                            <label for="employee" class="form-label">Serwisant:</label>
                            <select class="form-control" id="employee" th:field="${orderDTO.employeeId}">
                                <option th:each="employee : ${employees}" th:value="${employee.employeeId}" th:text = "${employee.firstName} + ' ' + ${employee.lastName}"></option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="status" class="form-label">Status:</label>
                            <select class="form-control" id="status" th:field="${orderDTO.statusId}">
                                <option th:each="status : ${statuses}"
                                        th:value="${status.statusId}"
                                        th:text = "${status.statusName}"
                                        th:selected="${orderDTO.statusId == selectedValue}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="faultDescription" class="form-label">Opis usterki:</label>
                            <textarea class="form-control" id="faultDescription" rows="5" th:field="${orderDTO.faultDescription}" readonly></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="repairDescription" class="form-label">Opis naprawy:</label>
                            <textarea class="form-control" id="repairDescription" rows="5" th:field="${orderDTO.repairDescription}"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for="partsPrice" class="form-label">Cena części:</label>
                            <input type="text" class="form-control" id="partsPrice" th:name="partsPrice">
                        </div>
                        <div class="col-2">
                            <label for="repairPrice" class="form-label">Cena naprawy:</label>
                            <input type="text" class="form-control" id="repairPrice" th:name="repairPrice">
                        </div>
                    </div>
                     <div class="row g-3">
                        <div class="col-md-2 d-grid">
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                        <div class=" col-md-2 d-grid">
                            <a class="btn btn-primary" th:href="@{/orders/{Id}(Id=${orderId})}" role="button">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>