<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="pl" >
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wyszukaj urządzenia</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgba(0,0,255,0.1);">

<div class="mh-100" >
    <div th:replace="menu :: navbar" ></div>

    <div class="container-xl py-5">
        <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-3">
                <h5 class="text-muted mb-0">Lista urządzeń</h5>
            </div>

            <div  class="card-body">
                <div class = "row">
                    <form class="row g-3" action="#" th:action="@{/device/find}">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="producer" class="form-label">Producent:</label>
                                <input type="text" class="form-control" id="producer" th:name="producer">
                            </div>

                            <div class="col-md-4">
                                <label for="model" class="form-label">Model:</label>
                                <input type="text" class="form-control" id="model" th:name="model">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="serialNumber" class="form-label">Nr. Seryjny</label>
                                <input type="text" class="form-control" id="serialNumber" th:name="serialNumber">
                            </div>
                        </div>


                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Szukaj</button>
                        </div>
                    </form>
                </div>
                <div class = "row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Producent</th>
                            <th>Model</th>
                            <th>Numer seryjny</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="device: ${devices}">
                            <td th:text = "${device.Producer}"></td>
                            <td th:text = "${device.Model}"></td>
                            <td th:text = "${device.SerialNumber}"></td>
                            <td><a th:href="@{'/clients/'+${device.DeviceId}}">
                                <img th:src="@{/images/info.png}" style="width:32px;height:32px" />
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class ="row">
                    <div th:if = "${totalPages > 1}">
                        <div  class="container-sm align-content-sm-center">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/device?page=' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                        </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>